@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&display=swap");

/*
 * Title: Flower Shop
 * Description: Flower Shop style sheet
 * Author: abedin wahid
 * Date: 2023/07/11
 *
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common use css style */

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: 240px;
  margin-right: 240px;
}

.btn-primary {
  border-radius: 8px;
  background: #e55473;
  padding: 20px 45px;
  border: 0;
  color: #fff;
  font-size: 20px;
}

section {
  margin-top: 130px;
}
/* header section style */

.header {
  height: 100%;
  background: rgba(229, 84, 115, 0.1);
}

.header-section {
  display: flex;
  gap: 100px;
  position: relative;
}

.header-content {
  padding: 200px 0 150px 0;
}

.header-content h2 {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}

.header-content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  margin: 30px 0;
}

.header img {
  padding-top: 50px;
  width: 630px;
  height: 100%;
  position: absolute;
  right: 0;
}

/* main section style */

main {
  margin: 180px 0 130px 0;
}

.featured-content {
  text-align: center;
}

.featured-content h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.featured-content p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
}

.featured-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  text-align: center;
}

.box {
  width: 480px;
  height: 570px;
  position: relative;
  margin-bottom: 30px;
}

.feature-flower .box img {
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.feature-flower-title {
  color: #272727;
  font-size: 24px;
}

.featured-box .box1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.featured-box .box2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.featured-box .box3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

/*  services section */

.services {
  margin-top: 150px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-evenly;
  padding: 90px 180px;
  text-align: center;
}

.services img {
  width: 90px;
  height: 90px;
}

.services p {
  margin: 25px;
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}
/* hot deals section */
.hot-deals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
}

.hot-deals-content {
  text-align: center;
}

.hot-deals-content h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.hot-deals-content p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  padding: 25px 0;
}

/* our-product section */

.product-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.our-product-content {
  text-align: center;
}

.our-product-content h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.our-product-content p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  margin-top: 25px;
}

.product-item {
  width: 380px;
  height: 500px;
  box-shadow: 0px 1px 25px 3px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.product-item img {
  height: 350px;
}

/* instagram section style */
.instagram-content {
  text-align: center;
}

.instagram-content h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.instagram-content p {
  margin: 25px 0 50px 0;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
}

.img-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.img-container div {
  width: 360px;
  height: 400px;
}

/* latest-section style */

.latest-section {
  background-image: url("Flower-Asset/Rectangle-9.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 125px 300px;
  text-align: center;
  border-radius: 8px;
}

.latest-section h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.latest-section p {
  margin: 20px 0 50px 0;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
}

.Subscribe-section {
  display: flex;
  gap: 20px;
}

.Subscribe-section input {
  width: 700px;
  height: 64px;
  padding: 22px;
  border: 0;
  border-radius: 8px;
  background: #fff;
}

/* footer section */
.footer-contain {
  background: #111010;
  padding: 150px 0;
  text-align: center;
}

.footer-contain h1 {
  color: #e55473;
  font-size: 48px;
}

.footer-contain h1 > span {
  color: #fff;
}

.footer-contain p {
  margin: 25px 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
}

.footer-contain .footer-copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}
